<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="output.css">
</head>
<body class="font-sans bg-white text-blue-700 ">
    <div class="mx-auto flex flex-col md:flex-row items-center justify-between p-5 bg-emerald-400 text-white">
       
        <div class="flex flex-col md:flex-row items-center">
            <div class="relative md:ml-16 mt-3 md:mt-0">
                <button onclick="dropMenu()" class="dropbtn" href="#">
                    <img src="https://i.ibb.co/N14Xkyk/fuuko-izumo.jpg" alt="avatar" class="rounded-full w-20 h-20"/>
                </button>
                <div id="dropdown" class="hidden rounded-md absolute bg-white min-w-40 text-blue-700 overflow-auto z-10">
                    <a href="#" class="block px-4 py-2  hover:bg-emerald-400">Check Profile</a>
                    <a href="#" class="block px-4 py-2  hover:bg-emerald-400">Check Reviews</a>
                    <a href="#" class="block px-4 py-2  hover:bg-emerald-400">Manage Anime</a>
                    <a href="#" class="block px-4 py-2  hover:bg-emerald-400">Check Account</a>
                    <a href="#" class="block px-4 py-2  hover:bg-emerald-400">Logout</a>
                </div>
            </div>
            <div class="md:ml-6 mt-3 md:mt-0 font-semibold text-2xl">Hello, Fuuko Izumo </div>
    
        </div>
        <div class="flex flex-col md:flex-row items-center">
            <div class="md:mr-16 mt-3 md:mt-0 font-bold text-4xl text-white">
                <a href="#" class="hover:text-blue-700">AniMaKer</a></div>
        </div>
    </div>
        <nav class="bg-blue-700 text-white py-2">
            <div class="mx-auto flex flex-col md:flex-row items-center justify-between px-3 py-1">
                <div class="flex flex-col md:flex-row items-center">
                    <div class="relative">
                        <input type="text" class="bg-white text-blue-700  rounded-full w-50 px-2 py-0.5 focus:outline-none focus:shadow-outline md:ml-16 mt-3 md:mt-0" placeholder="Search">
                    </div>
                    <a href="#"></a>
                </div>
                <ul class="flex flex-col md:flex-row items-center">
                    <button onclick="dropGenre()" class="relative md:mr-16 mt-3 md:mt-0">Genre</button>
                    <li class="md:mr-16 mt-3 md:mt-0"><a href="/dist/tablelist.html" class="hover:font-bold">My List</a></li>
                    <li class="md:mr-16 mt-3 md:mt-0"><a href="/dist/index.html" class="hover:font-bold">Top Rated</a></li>
                </ul>
            </div>
            <div id="genreMenu" class="c3 hidden rounded-md absolute bg-white ml-[1000px] min-w-40 text-blue-700 overflow-auto z-10">
                <a href="#" class="block px-4 py-2 hover:bg-emerald-400">Action</a>
                <a href="#" class="block px-4 py-2 hover:bg-emerald-400">Adventure</a>
                <a href="#" class="block px-4 py-2 hover:bg-emerald-400">Comedy</a>
                <a href="#" class="block px-4 py-2 hover:bg-emerald-400">Drama</a>
                <a href="#" class="block px-4 py-2 hover:bg-emerald-400">Fantasy</a>
                <a href="#" class="block px-4 py-2 hover:bg-emerald-400">Horror</a>
                <a href="#" class="block px-4 py-2 hover:bg-emerald-400">Mecha</a>
                <a href="#" class="block px-4 py-2 hover:bg-emerald-400">Mystery</a>
                <a href="#" class="block px-4 py-2 hover:bg-emerald-400">Psychological</a>
                <a href="#" class="block px-4 py-2 hover:bg-emerald-400">Romance</a>
                <a href="#" class="block px-4 py-2 hover:bg-emerald-400">Sci-Fi</a>
                <a href="#" class="block px-4 py-2 hover:bg-emerald-400">Slice of Life</a>
                <a href="#" class="block px-4 py-2 hover:bg-emerald-400">Sports</a>
                <a href="#" class="block px-4 py-2 hover:bg-emerald-400">Supernatural</a>
            </div>
        </nav>
        

        <div class="text-center font-bold text-2xl m-10">POPULAR ANIME</div>
        
        <div class="card mt-8">
            <a href="#">
                <img src="https://m.media-amazon.com/images/W/MEDIAX_849526-T1/images/I/81+V2uHQT1L._AC_SX679_.jpg" alt="" class="hover:opacity-75 transition ease-in-out duration-150">
            </a>
            <div class="mt-2 font-bold text-blue-700">
                <a href="#">Frieren: Beyond Journey's End</a>
            </div>
            <div class="stats flex items-center text-blue-700 text-sm mt-1">
                <span class="">Score:</span>
                <span class="ml-1">9.13</span>
                <span class="mx-2">|</span>
                <span>Sept 29, 2023</span>
            </div>
            <div class="genre text-blue-700 text-sm">
                Adventure, Drama, Fantasy
            </div>
            <button class="rounded bg-blue-700 text-white px-3 py-1.5 mt-2 text-xs font-medium uppercase leading-normal text-white transition duration-150 ease-in-out hover:bg-blue-400 active:bg-emerald-400">Add to List</button>
        </div>

        <div class="card mt-8">
            <a href="#">
                <img src="https://m.media-amazon.com/images/W/MEDIAX_849526-T1/images/I/81+V2uHQT1L._AC_SX679_.jpg" alt="" class="hover:opacity-75 transition ease-in-out duration-150">
            </a>
            <div class="mt-2 font-bold text-blue-700">
                <a href="#">Frieren: Beyond Journey's End</a>
            </div>
            <div class="stats flex items-center text-blue-700 text-sm mt-1">
                <span class="">Score:</span>
                <span class="ml-1">9.13</span>
                <span class="mx-2">|</span>
                <span>Sept 29, 2023</span>
            </div>
            <div class="genre text-blue-700 text-sm">
                Adventure, Drama, Fantasy
            </div>
            <button class="rounded bg-blue-700 text-white px-3 py-1.5 mt-2 text-xs font-medium uppercase leading-normal text-white transition duration-150 ease-in-out hover:bg-blue-400 active:bg-emerald-400">Add to List</button>
        </div>

        <div class="mx-auto hover:font-bold flex flex-bot md:flex-col items-center text-center justify-between p-5 bg-blue-700">
            <div class="mx-auto max-w-60">
                <img class="relative flex max-w-60" src="/images/Azumanga%20Daioh.png">
            </div>
            <div class="flex text-white relative">
                Azumanga Daioh
            </div>
        </div>

        <div class="mx-auto hover:font-bold flex flex-bot md:flex-col items-center text-center justify-between p-5 bg-blue-700">
            <div class="mx-auto max-w-60">
                <img class="relative flex max-w-60" src="/images/kino.png">
            </div>
            <div class="flex text-white relative">
                Kino no Tabi
            </div>
        </div>

        <div class="mx-auto hover:font-bold flex flex-bot md:flex-col items-center text-center justify-between p-5 bg-blue-700">
            <div class="mx-auto max-w-60">
                <img class="relative flex max-w-60" src="/images/blacklagoon.png">
            </div>
            <div class="flex text-white relative">
                Black Lagoon
            </div>
        </div>
    </div>

    <div class="mx-auto flex flex-col text-center md:flex-row items-center justify-between p-5 bg-white text-white">
        <div class="mx-auto hover:font-bold flex flex-bot md:flex-col items-center text-center justify-between p-5 bg-blue-700">
            <div class="mx-auto max-w-60">
                <img class="relative flex max-w-60" src="/images/lain.png">
            </div>
            <div class="flex text-white relative">
                Serial Experiments: Lain
            </div>
        </div>

        <div class="mx-auto hover:font-bold flex flex-bot md:flex-col items-center text-center justify-between p-5 bg-blue-700">
            <div class="mx-auto max-w-60">
                <img class="relative flex max-w-60" src="/images/tanya.png">
            </div>
            <div class="flex text-white relative">
                Sousou ni Tanya
            </div>
        </div>

        <div class="mx-auto hover:font-bold flex flex-bot md:flex-col items-center text-center justify-between p-5 bg-blue-700">
            <div class="mx-auto max-w-60">
                <img class="relative flex max-w-60" src="https://scontent.fmnl30-1.fna.fbcdn.net/v/t1.15752-9/413232102_942426057233501_2899519033613410099_n.png?_nc_cat=102&ccb=1-7&_nc_sid=8cd0a2&_nc_eui2=AeGaWdv5h4Lo9N0KB5CjJMYDZvqW4cXzSd5m-pbhxfNJ3sNTBz7gYKIboptH60mD5W0oyo17rW15zo0-kvKQuHom&_nc_ohc=xtUI1OcAcl0AX9qmFq6&_nc_ht=scontent.fmnl30-1.fna&oh=03_AdRka8bP1NqP0mHnwk4B3phxl89NqG-EmAYPk7NB-9IBJw&oe=65F27F14">
            </div>
            <div class="flex text-white relative">
                Furry Hentai
            </div>
        </div>

        <div class="mx-auto hover:font-bold flex flex-bot md:flex-col items-center text-center justify-between p-5 bg-blue-700">
            <div class="mx-auto max-w-60">
                <img class="relative flex max-w-60" src="https://scontent.fmnl30-1.fna.fbcdn.net/v/t1.15752-9/426819126_1484393308959199_3089614196122491075_n.png?_nc_cat=102&ccb=1-7&_nc_sid=8cd0a2&_nc_eui2=AeFLECSSp07gW4ekLlcG8drX28nyhEJSXfDbyfKEQlJd8A0h5Kw1CX14sA9Z1I8UIo6iQO8HEr7XpluuEYDm7e_w&_nc_ohc=ymmHkqKKA0IAX_mxl4Y&_nc_ht=scontent.fmnl30-1.fna&oh=03_AdSGeN6PRZewJV3wz_3t2W9Dtny-9xjrPnE69r5vWEmr3A&oe=65F29B5F">
            </div>
            <div class="flex text-white relative">
                Acchoo Coochie
            </div>
        </div>
    </div>
    
       <!-- @yield('content')-->
    
    <script src="./script.js"></script>
    </body>
</body>
</html>