
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="output.css">
</head>

<body class="font-sans bg-white text-blue-700">
    <div class="mx-auto flex flex-col md:flex-row items-center justify-between p-5 bg-emerald-400 text-white">
        <div class="flex flex-col md:flex-row items-center">
            <div class="md:ml-16 mt-3 md:mt-0">
                <a href="#">
                    <img src="https://i.ibb.co/N14Xkyk/fuuko-izumo.jpg" alt="avatar" class="rounded-full w-20 h-20"/>
                </a>
            </div>
            <div class="md:ml-6 mt-3 md:mt-0 font-semibold text-2xl"> Hello, Fuuko Izumo </div>
    
        </div>
        <div class="flex flex-col md:flex-row items-center">
            <div class="md:mr-16 mt-3 md:mt-0 font-bold text-4xl text-white">
                  <a href="#" class="hover:text-blue-700">AniMaKer</a></div>
        </div>    </div>
        <nav class="bg-blue-700 text-white py-2">
            <div class="mx-auto flex flex-col md:flex-row items-center justify-between px-3 py-1">
                <div class="flex flex-col md:flex-row items-center">
                    <div class="relative">
                        <input type="text" class="bg-white text-blue-700  rounded-full w-50 px-2 py-0.5 focus:outline-none focus:shadow-outline md:ml-16 mt-3 md:mt-0" placeholder="Search">
                    </div>
                    <a href="#"></a>
                </div>
                <ul class="flex flex-col md:flex-row items-center">
                    <li class="md:mr-16 mt-3 md:mt-0"><a href="/dist/tablelist.html" class="hover:font-bold">My List</a></li>
                    <li class="md:mr-16 mt-3 md:mt-0"><a href="/dist/tablelist.html" class="hover:font-bold">My Favorites</a></li>
                    <li class="md:mr-16 mt-3 md:mt-0"><a href="/dist/index.html" class="hover:font-bold">Top Rated</a></li>
                </ul>
            </div>
        </nav>
    <div class="mx-20 max-w-full">
    <table class="text-blue-700 bg-white w-full">
        <tr>
            <td class="row-span-2 align-middle">
                <img src="/Peak Kino/kino.png" class="max-w-60">
            </td>
            <td>
                <b>Kino no Tabi</b> <br>
                <!-- Bold text containing Score, Year of release and anime genre separated by | -->
                <b>Score:</b> 8.31 | <b>Year:</b> 2003 | <b>Genre:</b> Action, Adventure, Slice of Life
            </td>
        </tr>
        <tr>
            <td></td>
            <td>
                <!--Kino no Tabi sypnosis text-->
                <p class="max-w-lg">
                    The story follows Kino, a young adventurer who travels the world on a talking motorcycle named Hermes. They explore the people and cultures of different places, staying only three days at each location. The series is known for its philosophical themes and the unique perspective of the main character, Kino. The series is episodic, with each episode featuring a different country and its customs.
            </td>
        </tr>
        </table>
        
    </div>
</body>
<script src="script.js"></script>
</body>
</html>
    